@font-face {
    font-family: pixelatedFont;
    src: url('../assets/fonts/upheavtt.woff2') format('truetype');
}

@font-face {
    font-family: OCR-A;
    src: url('../assets/fonts/OCR-A-Regular.woff2') format('truetype');
}