body {
    background-size: cover;
    background: url("../assets/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.machineHolder {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.title {
    display: block;
    margin: 0 auto;
    height: auto;
    margin-bottom: -10%;
}

.machine {
    position: relative;
    display: block;
    margin: 0 auto;
    width: min(900px, 100vw);
    height: auto;
    margin-bottom: -10%;
}

.machineBody {
    width: 100%;
    height: auto;
}

form {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}


.machineInput {
    position: absolute;
    top: 20.6%;
    left: 12%;
    width: 49%;
    height: 4.8%;
}

input.PixelatedInput[type=text] {
    width: 100%;
    height: 100%;
    padding-left: 0.5em;
    font-family: "pixelatedFont", "sans-serif";
    margin-top: 0.3em;
    font-weight:normal;
    font-style:normal;
    font-size: min(3vw, 27px);
    font-smooth: never;
    -webkit-font-smoothing : none;
    background: transparent;
    border: none;
    outline: none;
}

input.PixelatedInput[type=text]:focus {
    position: relative;
    width: 100%;
    height: 100%;
    transition: none;
    border: none;
    outline: none;
    caret-shape: underscore;
    caret-color: transparent;
}

.generateButtonBackground {
    position: absolute;
    background: url("../assets/buttonBase.png") no-repeat;
    background-origin: content-box;
    background-size: 100%;
    right:12.7%;
    bottom:13.5%;
    width: 13.3%;
    height: 16.2%;
}

.generateButton {
    position: absolute;
    background: url("../assets/button.png") no-repeat;
    background-origin: content-box;
    background-size: 100%;
    width: 76%;
    height: 74%;
    right: 13%;
    bottom: 14%;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    border: none;

}

.generateButton:hover {
    filter: brightness(110%);
    transform: scale(1.05, 1.05);
    cursor: pointer;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.generateButton:active {
    filter: brightness(90%);
    transform: scale(0.95, 0.95);
    cursor: pointer;
}

.generateButton:disabled {
    filter: brightness(90%);
    transform: scale(0.95, 0.95);
    cursor: pointer;
}

.unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: pixelatedFont;
    src: url('../assets/upheavtt.ttf') format('truetype');
}