body {
    background-size: cover;
    background: #ce6a7a url("../assets/images/optimized-background.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;

    --dirty_white: #bcbed5;
    --dirty_black: #1d1d21;
}

.cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #ce6a7a no-repeat fixed center center;
    pointer-events: none;
}

.machineHolder {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.title {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto -10%;
}

.unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}