
.background {
    height: 100%;
    width: 100%;
    font-family:Verdana,sans-serif;
}

.left {
    float: left;
    width: 25%;
    height: auto;
}

.middle {
    float: left;
    width: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.right {
    float: left;
    width: 25%;
    display: grid;
    justify-content: center;
    align-content: center;
    align-self: center;
    font-size: xx-small;
    white-space: pre-line;
}

.background:after {
    content: "";
    display: table;
    clear: both;
}

form {

}

.input {

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.generateButtonBackground {
    background-color: #626669;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 2px;
    border-radius: 20px
}

input[type=submit] {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    align-self: center;
    background: #d32517;
    border-radius: 20px;
    border: outset 10px #d32517;
    font-size: 120%;
    font-weight: bold;
    color: white;
    box-shadow: inset 0 0 0 0 lightgreen;
    transition: transform .10s linear;
    will-change: transform;
}

input[type=submit]:hover:enabled {
    -webkit-transform: scaleX(0.95) scaleY(0.9);
    cursor: pointer;
}

input[type=submit]:disabled {
    -webkit-transform: scaleX(0.85) scaleY(0.8);
    transition: transform .25s linear;
    border-color: #d32517;
}

.results {
    font-size: small;
}

.result {
    border: solid 1px black;
    width: 300px;
    margin: 10px auto auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-line;
    font-family: Palatino, serif;
}

.resultWord {
    font-weight: bold;
    font-size: x-large;
    font-family: Palatino, serif;
    margin-bottom: 0;
}

.resultFrequency {
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 13px;
    opacity: 40%;
}

.resultDescription {
    padding-left: 5px;
    opacity: 90%;
}

.allWords {
    width: 100%;
    max-height: 200px;
    padding-left: 10px;
    padding-right: 50px;
    overflow-y: auto;
    background: black;
    color: green;
    scrollbar-color: green black;
    scrollbar-width: thin;
}

.allWords::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}

.allWords::-webkit-scrollbar-track-piece  {
    background-color: black;
}

.allWords::-webkit-scrollbar-thumb:vertical {
    height: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
}
