body {
    background-size: cover;
    background: #ce6a7a url("../assets/images/optimized-background.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;

    --dirty_white: #bcbed5;
    --dirty_black: #1d1d21;
}

.cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #ce6a7a no-repeat fixed center center;
    pointer-events: none;
}

.machineHolder {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.title {
    position: absolute;
    display: block;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 1%;
}

.unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.scrollBar {
    scrollbar-color: #3c533a rgba(0, 0, 0, 0);
    scrollbar-width: initial;
}

/* width */
.scrollBar::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
}

/* Track */
.scrollBar::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
    background: #3c533a;
    border-radius: 5px;
}

/* Handle on hover */
.scrollBar::-webkit-scrollbar-thumb:hover {
    background: #557652;
}